*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position:relative;
    width: 1266px;
    height: 766px;
    padding-top: -512px;
    padding-left: -712px;
    background: #121725;
}
img{
    position:absolute;
    width: 1275px;
    height: 640px;
    padding-left: 170px;
    padding-top: 130px;
}